body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  gap: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 1px solid black;
}

.grid {
  width: 6.25%;
  height: 6.25%;
  border: 1px solid black;
  box-sizing: border-box;
}